<div id="<%= dom_id comment %>">
  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

</div>

<%# _comments.html.erb %>
<div class="comments mt-4">
  <h5>Commentaires :</h5>
  <% post.comments.each do |comment| %>
    <div class="comment">
      <p style="margin: 0; font-weight: bold;">
        <%= comment.user&.email ? comment.user.email.split('@').first : "Utilisateur inconnu" %>
      </p>
      <p style="margin: 0 0 10px 20px;">
        <%= comment.text %>
      </p>
    </div>
  <% end %>
</div>

